*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.contenedor{
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}
.tituloh2{
  color: brown;
  font-size: 35px;
  text-align: center;
  margin-bottom: 60px;
}

/* Portadas*/
.portada-Inicio{
    width: 100%;
    height: 700px;
    background-image: url(../img/fondo2.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.portada-Adi{
    width: 100%;
    height: 500px;
    background-image: url(../img/fondo3.jpg);
    background-size: cover;
    background-attachment: fixed;
    position:relative; 
     
}

.portada-Nike{
  width: 100%;
  height: 400px;
  background-image: url(../img/fondo4.jpg);
  background-size: contain;
  background-attachment: fixed;
  position: relative;
  background-repeat: no-repeat;
}

section.textos-header{
  display: flex;
  height: 430px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.textos-header h1{
  font-size: 100px;
  color: wheat;
}

.textos-header h2{
  font-size: 30px;
  font-weight: 100;
  color: wheat;
}

nav{
  text-align: right;
  padding: 30px 50px 0 0;
}
nav > a{
  color: wheat;
  font-weight: 300;
  text-decoration: none;
  margin-right: 10px;
  font-size: 25px;
}
nav > a:hover{
  color: wheat;
  font-weight: 300;
  text-decoration: wavy;
  margin-right: 10px;
  font-size: 25px;
  
}
/*.wave{
  position: absolute;
  bottom: 0;
  width: 100%; 
}*/

/* Todo tipo*/
.contenedor-sobre-nostros{
  display: flex;
  justify-content:space-evenly;
}
.img-sobre-nosotros{
  width: 48%;
}

.sobre-nosotros .contenedor-textos{
  width: 40% ;
}

.contenedor-textos h3 span{
  background: brown;
  color: wheat;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  width: 30px;
  padding:5px ;
  box-shadow: 0 0 6px 0 rgba(0, 0,0, .5);
  margin-right: 8px;
}
.contenedor-textos h3{
  height: 50px;
}
.contenedor-textos p{
  padding: 0px 0px 30px 15px ;
  text-align: justify;
}

/* Galeria*/

.catalogo{
  background: wheat;
}
.galeria-tienda{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.imagen-tienda{
  width: 24%;
  margin:0 10px 10px 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 6px 0 rgba(0, 0,0, .5);
}
.imagen-tienda > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hover-galeria{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  transform: scale(0);
  background: rgba(0, 0,0, .5);
  transition: transform .5s;
  justify-content: center;
  align-items: center;
  display: flex;
}

.hover-galeria p {
  color: wheat;
}

.imagen-tienda:hover .hover-galeria{
  transform: scale(1);
}

/*Footer*/

footer{
  background: black;
  padding: 60px 0 30px 0;
  margin: auto;
  overflow: hidden;
}
.contenedor-footer{
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
  padding-bottom: 50px;
  
}
.contenedor-foo{
  text-align: center;
  border-bottom: 3px solid brown;
  padding-bottom: 5px;
  margin-bottom: 10px ;
}
.contenedor-foo p{
  color: white;
}
.contenedor-foo h4{
  color: white;
  font-weight: bolder;
}

footer a{
  color: wheat;
  text-decoration: none;
}

/*Pagina adidas*/

.contenedor-uno{
  padding: 60px 0;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  text-align: center;
}

.contenedor-tabla{
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.tbl{
  width: 40%;
  height: 150px;
}
